.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.index {
  color: var(--color-content-secondary);
  font-family: var(--font-family-base);
  font-size: var(--typography-caption-font-size);
  font-weight: var(--typography-caption-font-weight);
  line-height: var(--typography-caption-line-height);
  margin: 0;
}

.title {
  color: var(--color-content-primary);
  font-family: var(--font-family-base);
  font-size: var(--typography-heading-2-font-size);
  font-weight: var(--typography-heading-2-font-weight);
  line-height: var(--typography-heading-2-line-height);
  margin: 0;
}
